
  #contenedor {
    width:auto;
    margin:10px auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  * {
    box-sizing: border-box;
  }
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url("../images/BodyFondo.jpg");
    background-size:cover;
    margin:10px 20px;

  }
  /*HEADER*/

  header {
    padding: 15px;
    margin:20px 10px;
    overflow: auto;
    background-color:rgba(65,100,111,0.34);
    height: 100px;

  }
  header>img{
    float: left;
    width: 60px;
    margin-top: 10px;
  }
  header h1{
    float: left;
    width: 400px;
    margin-left: 30px;
    color:#FFFFFF;
    font: small-caps 100%/100% serif;
    font-size: 30px;
  }
  header h1:hover{
    cursor:pointer;
    color:#846D0E;

  }
  /*Con usuario*/
  #headerPaginaConUsuario{
    display:none;
  }
  #DatosUsuario{
    float:right;
    width: 200px;
    height: 30px;
    margin: 15px 30px 0 0;
  }
  #DatosUsuario i{
    float:right;
    margin-left: 20px;
    font-size: 25px;
    color: white;
  }
  #DatosUsuario p{
    float:right;
    color:#FFFFFF;
    font: 100%/100% serif;
    font-size: 25px;
    margin-top:0;

  }
  #navBarProfile{
    display:none;
  }
  #HomeNavBarConUsuario, #navBarProfile{
    float: right;
    margin: 0 5px auto 400px;
    padding: 10px ;
    background-color:  none;
  }
  #HomeNavBarConUsuario li, #navBarProfile li{
    display:inline;
  }
  #HomeNavBarConUsuario li button, #navBarProfile li button {
    margin:auto 10px;
    color: #FFFFFF;
    text-decoration:none;
    background-color: transparent;
    border:none;
    font:small-caps 100%/100% courier;
    font-size: 15px;
  }
  #HomeNavBarConUsuario li button:hover, #navBarProfile li button:hover {
    color:#cc9900;
  }

  /*Sin usurio*/
  #headerPaginaSinUsuario{
    display:none;
  }
  #navigation-bar{
    float: right;
    margin: 20px auto;
    padding: 10px ;
  }
  #navigation-bar li{
    display:inline;
  }
  #navigation-bar li button {
    margin:auto 30px;
    color: #FFFFFF;
    text-decoration:none;
    background-color: transparent;
    border:none;
    font:small-caps 100%/100% courier;
    font-size: 20px;
  }
  #navigation-bar li button:hover {
    color:#cc9900;
  }
/*Pagina principal de inicio*/
#PaginaPrincipalLogOut img{
  float:left;
  margin: 30px 0 0 320px;
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 207px;
  height: 180px;
  }
  #PaginaPrincipalLogOut p{
    float:left;
    margin: 125px 0 0 430px;
    font-family: 'Cambria Math Bold', 'Cambria Math Regular', 'Cambria Math';
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    color:
    #FFFFFF;
  }
  #btnsingIn{
    margin:325px 0 0 420px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 70px;
    padding: 3px 2px 3px 2px;
    font-family: 'Cambria Math';
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: normal;
    vertical-align: none;
    text-align: center;
    text-transform: none;
    background-color:#846D0E;
    opacity: 0.9;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    color: rgba(234, 236, 238, 0.972549019607843);

  }
  #btnsingUp{
    margin:325px 0 0 660px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 70px;
    padding: 3px 2px 3px 2px;
    font-family: 'Cambria Math';
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: normal;
    vertical-align: none;
    text-align: center;
    text-transform: none;
    background-color:#846D0E;
    opacity: 0.9;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    color: rgba(234, 236, 238, 0.972549019607843);
  }


  /*Pagina princial con usuario parte inferior*/
  #Home{
    display:flex;

    flex-wrap:wrap;
    width: 100%;
  }
  .flex-container{
    display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 0 30%;
  margin:10px;

    /*flex: 1 0 21%;
    margin:10px;
    padding:15px;
    display:flex;
    flex-direction: column;
    min-width: 32%;
    flex-grow: 1;
    cursor: pointer;*/
  }




  .flex-container::after{
    clear:both;
  }
  .TuPerfil{
    margin-left:10%;
    margin-right:30%;
float: left;
    font-size: 26px;
    font-family: "Lucida Sans";
    color:white;
  }
  #divAñadirCategoria{
display:none;
    overflow: hidden;

  }
  .AñadirCategoria{
    float: right;
    background-color:#262626;
    border: none;
    border-radius: 5px;
    font: small 100%/100% serif;
    font-size: 13px;
    color:white;
    width: auto;
    padding: 10px;
    margin-right: 10px;


  }
  /*Titulo de los contenedores grandes*/
  .Titulo{
    height: 50px;
    display:block;
  }
  .Titulo::after{
    clear:both;
  }

  .Titulo h2{
    float:left;
    color: #cc9900;
    margin-left: 15px;
    font:small-caps 100%/100% courier;
    font-size: 30px;
  }
  .flex-container hr{
    border: 1px solid #404040;
    width: 100%;
  }

  /*EVENTO*/
  .Evento{
  border:2px solid #404040;
  background-color: rgba(10,11,11,0.94);
  margin-bottom: 20px;
  }
  .Evento::after{
    clear:both;
  }

  .Boton-cierre{
    margin:5px;
    float:right;
    background-color: transparent;
    border:none;
    color: #846D0E;
    cursor:pointer;
  }
  .DivImagen{
    width: 280px;
    height: 100px;
    margin:20px;
  }

  .DivImagen::after{
    clear:both;
  }
  .DivIconos{
    height: 50px;
  }
  .DivIconos::after{
    clear:both;
  }
  .hashtag {
    width: auto;
    height: 25px;
    font:small-caps 100%/100% courier;
    background-color:#41646F;
    margin: 0 0 20px 20px;
    padding: 0 0 0 5px;
    border-radius: 2px;
  }
  .hashtag p{
    float:left;
    margin: 5px 0 20px 3px;
    color:white;
  }
  .hashtag i{
    float:right;
    margin: 7px 7px 20px 10px;
    font-size: 10px;
  }

  .Evento img{
    float:left;
    border-radius: 3px;
  }
  .Titulo-Evento{
    margin-left: 20px;
    float:left;
    color:#e6e6e6;
    font:small-caps 100%/100% courier;
    font-size:17px;
    width: 150px;
  }

  .DivIconos i{
    font-size: 20px;
    margin: 10px 15px;
    color: #e6e6e6;
    z-index:0;
  }





  /*Menu desplegable del boton de tres puntos*/
  .dropdown{
    position:relative;
    display:inline-block;
    float:right;
    margin-top: 30px;
  }
  .dropbtn{
    background-color: transparent;
    border:none;
    padding:5px;
    cursor:pointer;
  }
  .dropbtn i{
    color:#cc9900;
  }
  .dropdown-content{
    visibility: hidden;
    position:absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    width: 200px;
  }

  .visible{
    visibility: visible;
  }


  .dropdown-content button{
    display:block;
    padding:12px 16px;
    width: auto;
    background-color: #262626;
    border:none;
    font: small 100%/100% serif;
    font-size: 15px;
    color: white;
    width: 200px;
  }
  .dropdown-content button:hover{
    background-color: grey;
  }

  .Coreccion-MenuDesplegable{
    margin-left: -200px;
  }

  /*Mensaje de ayuda*/
    .tooltip {
    margin-left: 10px;
    background-color: rgba(10,11,11,0.3);
    border:none;
    cursor:pointer;

  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #404040;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  /*Boton compartir*/
  .popUpText{
    position:absolute;
    display:none;
    float:left;
    margin:100px 400px;
    background-color: #404040;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    z-index:10;

}


#popUpText p{
  margin:30px 0 10px 20px;
  float:left;
  color:#e6e6e6;
  font:small-caps 100%/100% courier;
  font-size:17px

}

.DivImagenPopUp{
  float:left;
  height: 30%;
  margin:20px;
  width: 280px;

}
#TextoPopUp{
  width: 150px;
  margin-left:20px;
  float:left;
}
#popUpText .DivImagenPopUp img{
  float:left;
  border-radius: 3px;
}
#DivIconosPopUp{
  float:left;
  height:40%;
  margin-left: 20px;

}

#DivIconosPopUp button{
float:left;
background-color: transparent;
margin:5px 30px;
border:none;

}
 .blur{
  filter:blur(3px);
}



/*Fondo inhabilitado*/
#fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 9999;
}


/*SIGN IN Y SIGN UP*/
#signin_form{
  display: none;
  width: 50%;
  margin-left: 27%;
}
#signup_form{
  display: none;
  width: 60%;
  margin-left: 23%;
}

.casillasMitadLeft{
  width: 49%;
  float: left;
}
.casillasMitadRight{
  width: 49%;
  float: right;
}
#languageSelect{
  background-color: #f1f1f1;
  width: 100%;
  padding:7px;
}
#languageSelect select {
  display: none; /*hide original SELECT element: */
}


.container {
  padding: 20px;
  margin-top:10px;
}

input[type=text], input[type=password], input[type=date], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 10px 0 22px 0;
  border: none;
  background: #f1f1f1;

}
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus {
  background-color: #ddd;

}

/*Determinamos el tipo de letra para ambos*/
#signup_form, #signin_form, #EditProfile{
  color:#e6e6e6;
  font:small-caps 100%/100% courier;
  font-size:17px;

}

/* Full-width input fields */

.signinbtn {
  width: 40%;
  background-color: #846D0E;
  opacity: 0.9;
  color: white;
  padding: 14px 20px;
  margin-left: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}
.borrarbtn{
  margin-top: 10px;
  float: left;
  width: 20%;
  background-color: #9C2A0C;
  color: white;
  padding: 14px 20px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}

.signupbtn:hover, .borrarbtn:hover  {
  opacity:1;
}
.profilebtn{
  width: 40%;

  color: white;
  padding: 14px 20px;
  margin: 8px 100px;
  border: none;

  cursor: pointer;
  opacity: 0.9;
}
.profilebtn:hover{
  opacity:1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix{
  margin-top:20px;
  margin-left:23%;
}
.clearfix a{
  color:#cc9900;
}
.clearfix a{
  cursor: pointer;
}
.signupbtn{
  margin-top:10px;
  float: left;
  width: 20%;
  background-color: #846D0E;
  opacity: 0.9;
  color: white;
  padding: 14px 20px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}

/*PROFILE*/
#EditProfile{
  display: none;
  width:60%;
  margin-left: 250px;
}

/*POP UP NUEVA CATEGORIA*/
#fullscreen-container2 {
  display: none;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 9999;
}
#newCategory{
  color:#e6e6e6;
  font:small-caps 100%/100% courier;
  font-size:17px;
}
#popUpTextNewCategory{
   position:absolute;
   display:none;
   float:left;
   margin:0 450px;
   background-color: #404040;
   border-radius: 5px;
   width: 300px;
   height: 200px;
   z-index:10;
}
#categoryname{
  width:73%;
  margin:0 0 0 30px;
}
#newCategory p{
  margin:5px auto 0 15px;

}
.crearCategoria{
  background-color:#846D0E;
  color: white;
  border: none;
  border-radius: 5px;
  font: small-caps 100%/100% courier;
  font-size: 100%;
  font-size: 17px;

  cursor: pointer;
  opacity: 0.9;
  margin:10px 0 0 40px;
  padding:10px;
}

.crearCategoria:hover{
  opacity: 1;

}
/*POP UP NUEVO EVENTO*/
#fullscreen-container3 {
  display: none;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 9999;
}
#newEvent{
  color:#e6e6e6;
  font:small-caps 100%/100% courier;
  font-size:17px;
}
#popUpTextNewEvent{
   position:absolute;
   display:none;
   float:left;
   margin:0 450px;
   background-color: #404040;
   border-radius: 5px;
   width: 300px;
   height: 200px;
   z-index:10;
}
#eventname{
  width:73%;
  margin:0 0 0 30px;
}
#newEvent p{
  margin:5px auto 0 55px;

}
.clearfix1 button{
  margin:10px 0 0 50px;
}



/*POP UP USUARIO NUEVO REGISTRADO*/
#PopUpUsuarioRegistrado{
  position:absolute;
  display:none;
  float:left;
  margin:-300px 500px;
  background-color: #404040;
  border-radius: 5px;
  height: 110px;
  z-index:10;
  width: 200px;
}

#PopUpUsuarioRegistrado p{
float:left;
color:#e6e6e6;
font:small-caps 100%/100% courier;
font-size:17px;
text-align: center;
}

#PopUpUsuarioRegistrado button{
margin:70px 0 0 -140px;
padding: 4px 10px;
border:none;
background-color: #846D0E;
color:white;
font:small-caps 100%/100% courier;
font-size:17px;
border-radius: 5px;
float:left;


}
/*POP UP COMPARTIR EVENTO CON USUARIO EXTERNO*/
#PopUpCompartirEvento {
  display: none;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 400px;
  right: 0;
  background-color: #404040;
  z-index: 9999;
  border-radius: 5px;
  height: 230px;
  width: 450px;
  display:none;
}
#PopUpCompartirEvento p, #PopUpCompartirEvento label{
  color:#e6e6e6;
  font:small-caps 100%/100% courier;
  font-size:17px;
  margin:30px;
}
#PopUpCompartirEvento input[type="text"]{
  margin:10px 30px;
  width: 400px;

}


/*
#PopUpCompartirEvento{
  position:absolute;
  display:none;
  float:left;
  margin:-300px 500px;
  background-color: #404040;
  border-radius: 5px;
  height: 110px;
  z-index:10;
  width: 200px;
}

#PopUpCompartirEvento p{
margin:30px 0 10px 20px;
float:left;
color:#e6e6e6;
font:small-caps 100%/100% courier;
font-size:17px;
text-align: center;
}*/


/*
#PopUpCompartirEvento button{ //cerrar
margin-top:5px;
}*/
#InvitarUsuarioExterno button{ /*Aceptar*/
margin:5px 0 0 180px;
padding: 4px 10px;
border:none;
background-color: #846D0E;
color:white;
font:small-caps 100%/100% courier;
font-size:17px;
border-radius: 5px;
float:left;


}



/*POP UP INVITACION ENVIADA*/

#PopUpInvitacionEnviada{
  position:absolute;
  display:none;
  float:left;
  margin:-300px 500px;
  background-color: #404040;
  border-radius: 5px;
  height: 110px;
  z-index:10;
  width: 200px;
}

#PopUpInvitacionEnviada p{
float:left;
color:#e6e6e6;
font:small-caps 100%/100% courier;
font-size:17px;
text-align: center;
margin-left: 30px;
}

#PopUpInvitacionEnviada button{
margin:70px 0 0 -110px;
padding: 4px 10px;
border:none;
background-color: #846D0E;
color:white;
font:small-caps 100%/100% courier;
font-size:17px;
border-radius: 5px;
float:left;


}

/*FOOTER*/
footer {
  display:none;
  background-color: #262626;
  padding: 10px;
  color: black;
  overflow:auto;
  margin:300px 10px 0 10px;
}

#footerBox{
  float:left;
  margin-left: 35%;
  display:inline;
  margin-top:30px;

}
.footerLinks{
  float:left;
  width:100px;
  height: 30px;
  border-right: 1px solid #404040;
}
.footerLinks:last-child{
  border-right: none;
}
footer a:link {
margin-left: 30px;
}

#footerTexto{
  float:right;
  width: 270px;
  text-align:right;
  margin-right: 10px;
}
#footerTexto p{
  color: #cccccc;
}
#footerTexto hr{
  border  : none;
}
